@import "styles/utils";

.card {
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-color: var(--color-white);

  @include media(">desktop") {
    max-width: 928px;
    flex-direction: row;
    gap: 64px;
    border-radius: 36px;
    background: #FFF;
    box-shadow: 0 15px 60px 0 rgba(0, 0, 0, 0.25);
    overflow: hidden;
    padding: 24px 24px 24px 0;
  }

  .body {
    padding: 0 24px 40px;

    @include media(">desktop") {
      padding: 0 0 0 64px;
    }
  }
}
